name: "Deploy Azure Function"

on:
  push:
    branches: ["main"]

env:
  AZURE_FUNCTIONAPP_NAME: 'func-auth-soat12'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'
  NODE_VERSION: '18.x'

jobs:
  terraform:
    name: 'Terraform Infra'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    
    # CORREÇÃO AQUI: Definimos as credenciais no nível do JOB
    # Assim, o 'terraform init' já consegue ler o Storage Account
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - run: terraform init
    - run: terraform apply -auto-approve -input=false

  deploy-code:
    name: 'Deploy Node.js Code'
    needs: terraform
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: 'npm install and build'
      run: |
        npm install
        npm run build --if-present
        npm prune --production

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
    
    - name: Update App Settings
      run: |
        az functionapp config appsettings set --name ${{ env.AZURE_FUNCTIONAPP_NAME }} --resource-group rg-fsmt-soat12 --settings "DB_CONNECTION_STRING=${{ secrets.DB_CONNECTION_STRING }}" "JWT_SECRET=${{ secrets.JWT_SECRET }}"